body {
    margin: 0;
    padding: 0;
    background: #1c1f22;
}

body, h5, li, em, div, p, span {
    color: #fff;
    font: 18px "华文中宋";
}

p.title {
    color: #fff !important;
    font-size: 60px !important;
    line-height: 0px !important;
    font-family: "华文中宋" !important;
}

button {
    cursor: pointer;
}

a.button {
    text-decoration: none;
}

code {
    font-family: "Consolas";
}

button,figure .close {
    cursor: pointer
}

.aniContainer {
    z-index: 0;
    position: fixed;
    opacity: .5;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.aniBlock {
    animation: rotate 240s infinite linear;
    position: absolute;
    display: block;
    background: url(/Euclidea/assets/bglinesrotate.png) no-repeat;
    background-size: 100%
}

footer,header {
    position: fixed;
    transition: opacity .5s;
    text-align: center
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

header {
    width: 100%;
    top: 15%
}

@media screen and (max-width: 400px) {
    header img {
        width:95%
    }
}

footer {
    color: #fff;
    width: 400px;
    bottom: 10px;
    left: calc(50% - 200px);
    z-index: 800
}

footer em,footer p {
    font: 11px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999
}

footer a,footer a:active,footer a:hover,footer a:link,footer a:visited,footer em,section.loading {
    color: #ccc
}

footer p {
    margin: 4px
}

@media screen and (max-width: 350px) {
    footer {
        width:320px;
        left: calc(50% - 160px)
    }

    footer em,footer p {
        font: 10px/16px "Helvetica Neue",Helvetica,Arial,sans-serif
    }
}

.md-container div.level {
    padding: 10px;
    margin-top: 30px;
    border: 1px dashed #000;
    background: rgba(255,255,255,.7);
    outline: rgba(255,255,255,.7) solid 5px
}

div.level h5 {
    margin: 0;
    padding-left: 6px
}

div.level ul {
    margin: 0;
    padding-left: 20px
}

div.level li {
    display: block;
    margin: 5px 0
}

article button {
    border: 1px solid #999;
    border-radius: 5px;
    background: #ddd;
    box-shadow: 1px 1px 1px #333;
    margin-right: 5px;
    margin-bottom: 4px;
    font: 12px/20px verdana;
    height: 26px;
    padding: 2px 10px
}

article figure {
    display: inline-block;
    margin: 0;
    line-height: 10px
}

article .vm {
    vertical-align: middle
}

figure.figure {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    display: none
}

.level em {
    color: #330;
    text-decoration: underline;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    margin-right: 2px
}

.level h5 em {
    text-shadow: 0 0 1px rgba(200,200,0,.7)
}

figure.show-figure {
    display: table
}

figure.show-figure div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0,0,0,.6)
}


