body {
    margin: 0;
    padding: 0;
    background: #1c1f22;
}

body, h5, li, em, div, p, span {
    color: #fff;
    font: 18px "华文中宋";
}

p.title {
    color: #fff !important;
    font-size: 60px !important;
    line-height: 0px !important;
    font-family: "华文中宋" !important;
}

button {
    cursor: pointer;
}

a.button {
    text-decoration: none;
}

code {
    font-family: "Consolas";
}

.aniContainer {
    z-index: 0;
    position: fixed;
    opacity: .5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aniBlock {
    animation: rotate 240s infinite linear;
    position: absolute;
    display: block;
    background: url(/Euclidea/assets/bglinesrotate.png) no-repeat;
    background-size: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 10%;
    transition: opacity .5s;
}

@media screen and (max-width: 400px) {
    header img {
        width: 95%;
    }
}

footer {
    color: white;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 10px;
    transition: opacity .5s;
    z-index: 800;
}

footer p {
    margin: 4px;
}

@media screen and (max-width: 350px) {
    footer {
        width: 320px;
        left: calc(50% - 160px);
    }

    footer p,
    footer em {
        font: 10px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

footer a,
footer a:link,
footer a:active,
footer a:hover,
footer a:visited,
footer em {
    color: #fff;
}

article {
    padding: 20px 20px;
    z-index: 500;
    margin: auto;
    max-width: 700px;
    position: relative;
}

.menu {
    width: 100%;
    z-index: 700;
    position: fixed;
    text-align: center;
}

.fadeout {
    opacity: 0 !important;
}

.hide {
    visibility: hidden !important;
}

.nodisp {
    display: none;
}

.md-container {
    display: none;
}

section.loading {
    color: #ccc;
}

.menu-switch,
.menu-switch:before,
.menu-switch:after {
    opacity: 1;
    content: '';
    width: 40px;
    height: 40px;
    z-index: 997;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    transition: opacity .3s, right .5s, top, .5s;
}

.menu-switch {
    position: fixed;
    background: #ddd;
    transform: rotate(-8deg);
}

.menu-switch.start {
    top: calc(50% - 22px);
    right: calc(50% - 22px);
}

.menu-switch.done {
    top: 10px;
    right: calc(50% - 390px);
}

@media screen and (max-width: 800px) {
    .menu-switch.done {
        right: 10px;
    }
}

.menu-switch:before {
    top: 0;
    left: 0;
    background: #ddd;
    position: absolute;
    transform: rotate(16deg);
}

.menu-switch:after {
    top: 0;
    left: 0;
    background: #eee;
    position: absolute;
    transform: rotate(8deg);
}

.menu-switch button {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    z-index: 998;
    display: inline;
    overflow: hidden;
    position: absolute;
    transform: rotate(8deg);
    font: bold 11px/125px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

.menu-list {
    opacity: 1;
    margin: auto;
    z-index: 999;
    max-width: 600px;
    padding: 0;
    background: rgba(0, 0, 0, .6);
    transition: opacity .3s;
}

.menu-list li,
.menu-list li:before,
.menu-list li:after {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    content: '';
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
}

.menu-list li {
    margin: 20px;
    background: #ddd;
    position: relative;
    transform: rotate(-5deg);
}

@media screen and (max-width: 670px) {
    .menu-list li {
        margin: 15px;
    }
}

@media screen and (max-width: 325px) {
    .menu-list li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 730px) {
    .menu-list li {
        margin: 25px;
    }
}

@media screen and (max-height: 565px) {
    .menu-list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.menu-list li:before {
    background: #ddd;
    position: absolute;
    transform: rotate(10deg);
}

.menu-list li:after {
    background: #eee;
    position: absolute;
    transform: rotate(5deg);
}

.menu-list button {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: none;
    z-index: 1000;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    position: absolute;
    transform: rotate(5deg);
    font: bold 10px/92px "Helvetica Neue", Helvetica, Arial, sans-serif
}

.menu button:active,
.menu button:focus {
    outline: none;
}

.menu-switch button,
.menu-list button,
.tool {
    background: url(/Euclidea/assets/sprites.png) no-repeat;
}

.menu-switch button {
    background-position: -803px -104px;
}

.menu-switch.start button {
    background-position: -852px -103px;
}
