

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.gsap-anim * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gsap-anim {
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

.gsap-anim img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gsap-anim h1 {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
}

.gsap-anim p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.gsap-anim .preloader,
.gsap-anim .split-overlay,
.gsap-anim .tags-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.gsap-anim .preloader,
.gsap-anim .split-overlay {
    background-color:#fff;
    color:#0a0a0a;
}

.gsap-anim .preloader,
.gsap-anim .tags-overlay {
    z-index: 2;
}

.gsap-anim .split-overlay {
    z-index: 1;
}

.gsap-anim .intro-title {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.gsap-anim .outro-title {
    position: absolute;
    top: 50%;
    left: calc(50% + 7.5rem);
    transform: translate(-50%, -50%);
}

.gsap-anim .tag {
    position: absolute;
    width: max-content;
    color: #5a5a5a;
    overflow: hidden;
    font-family: "华文中宋";
}

.gsap-anim .tag-1 {
    top: 15%;
    left: 15%;
}

.gsap-anim .tag-2 {
    bottom: 15%;
    left: 25%;
}

.gsap-anim .tag-3 {
    bottom: 30%;
    right: 15%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clip-path: polygon(0 49%, 0 49%,0 51%, 0 51%);
    z-index: 2;
}
 
.container .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gsap-anim nav,
.gsap-anim footer {
    position: relative;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; 
    z-index: 2;
}

.gsap-anim nav p#logo {
    font-weight: 600;
    font-size: 20px;
}

.gsap-anim .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70%;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
}

.gsap-anim .card h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

.gsap-anim .card .char span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    will-change: transform; 
}

.gsap-anim .intro-title .char,
.gsap-anim .outro-title .char,
.gsap-anim .card .char {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.gsap-anim .intro-title .char .outro-title .char {
    margin-top: 0.75rem;
}

.gsap-anim .intro-title .char span,
.gsap-anim .outro-title .char span,
.gsap-anim .tag .word {
    position: relative;
    display: inline-block;
    transform: translateY(-100%);
    will-change: transform;
}

.gsap-anim .intro-title .first-char {
    transform-origin: top left;
}

.container {
    height: 100vh;
    z-index: 1000;
    position: relative;
    background-color: #1c1f22;
}

.container * {
    margin: 0;
    padding: 0;
}

.container div,
.container p,
.container span:not(footer span) {
    color: #fff;
    font: 18px "华文中宋";
}

.container p.title {
    color: #fff !important;
    font-size: 60px !important;
    line-height: 0px !important;
    font-family: "华文中宋" !important;
}

.container button {
    cursor: pointer;
}

.container a.button {
    text-decoration: none;
}

.container code {
    font-family: "Consolas";
}

.container button {
    cursor: pointer
}

.container .aniContainer {
    z-index: 0;
    position: fixed;
    opacity: .5;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.container .aniBlock {
    animation: rotate 240s infinite linear;
    position: absolute;
    display: block;
    background: url(/Euclidea/assets/bglinesrotate.png) no-repeat;
    background-size: 100%
}

.container footer,
.container header {
    position: fixed;
    transition: opacity .5s;
    text-align: center
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.container header {
    width: 100%;
    top: 15%
}

@media screen and (max-width: 400px) {
    .container header img {
        width:95%
    }
}

.container footer {
    width: 400px;
    bottom: 10px;
    left: calc(50% - 200px);
    z-index: 800
}

.container footer p {
    font: 11px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999
}

.container footer a,
.container footer a:active,
.container footer a:hover,
.container footer a:link,
.container footer a:visited,
.container footer span {
    color: #ccc
}

.container footer p {
    margin: 4px
}

@media screen and (max-width: 350px) {
    .container footer {
        width:320px;
        left: calc(50% - 160px)
    }

    .container footer p {
        font: 10px/16px "Helvetica Neue",Helvetica,Arial,sans-serif
    }
}

.container .menu {
    width: 100%;
    z-index: 700;
    position: fixed;
    text-align: center
}

.container .menu-switch,
.container .menu-switch:after,
.container .menu-switch:before {
    opacity: 1;
    content: '';
    width: 40px;
    height: 40px;
    z-index: 997;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    transition: opacity .3s,right .5s,top,.5s
}

.container .menu-switch {
    position: fixed;
    background: #ddd;
    transform: rotate(-8deg)
}

.container .menu-switch.start {
    top: calc(50% - 22px);
    right: calc(50% - 22px)
}

.container .menu-switch:before {
    top: 0;
    left: 0;
    background: #ddd;
    position: absolute;
    transform: rotate(16deg)
}

.container .menu-switch button,.container .menu-switch:after {
    transform: rotate(8deg);
    position: absolute;
    top: 0;
    left: 0
}

.container .menu-switch:after {
    background: #eee
}

.container .menu-switch button {
    width: 40px;
    height: 40px;
    border: none;
    z-index: 998;
    display: inline;
    overflow: hidden;
    font: 700 11px/125px "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    background: url(/Euclidea/assets/sprites.png) no-repeat;
    background-position: -803px -104px
}

.container .menu-switch button:active,
.container .menu-switch button:focus {
    outline: 0
}

.container .menu-switch.start button {
    background-position: -852px -103px
}