figure.figure img {
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    box-shadow: 1px 1px 4px #666;
    position: relative;
    left: 9px;
    max-width: 90%
}

@media screen and (max-width: 420px) {
    figure.figure img {
        max-width:88%
    }
}

@media screen and (max-width: 320px) {
    figure.fighre img {
        max-width:85%
    }
}

figure.vm {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: justify
}

figure.vm.step-container {
    line-height: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

figure.vm img {
    border-radius: 10px;
    max-width: 90%;
    display: block;
    margin: 15px 0 10px
}

figure.vm img:first-child {
    margin-top: 0
}

figure .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 20px;
    top: -8px;
    left: -8px;
    color: #ccc;
    font-size: 20px;
    text-indent: 1px;
    line-height: 16px;
    background: #333;
    transform: rotate(45deg);
    border: 2px solid #ddd;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.tool {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(/Euclidea/assets/sprites.png) no-repeat;
}

.tool.point {
    background-position: 0 -300px
}

.tool.line {
    background-position: -30px -300px
}

.tool.circle {
    background-position: -60px -300px
}

.tool.perpendicular-bisector {
    background-position: -90px -300px
}

.tool.perpendicular {
    background-position: -120px -300px
}

.tool.angle-bisector {
    background-position: -150px -300px
}

.tool.parallel {
    background-position: -180px -300px
}

.tool.compass {
    background-position: -210px -300px
}

.tool.intersect {
    background-position: -240px -300px
}

.tool.midpoint {
    background-position: -270px -300px
}

.tool.next {
    width: 14px;
    background-position: -300px -300px
}

.tool-text {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto Slab", sans-serif;
    margin-left: 5px;
}
